body{
    background-color: var(--darkBlue);
}
header{
    background-color: var(--blue);
}


.header__container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.8rem;
}

.header__container__user{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;
}

.header__container__user p{
    color: var(--white);
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-shadow: 2px 2px black;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 6rem;
    white-space: nowrap;
}

.header__container__logoutBtn{
    color: var(--white);
    border-radius: 1.25rem;
    min-width: 8rem;
    height: 2rem;
    background-color: var(--darkBlue2);
    border: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;

}

.header__container__user  div{
    display: flex;
}

.header__container__user  div img{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.writePost{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--white);
    padding: 0 1.5rem;
    width: 90%;
    height: 6.75rem;
    margin: 2.5rem auto;
    border-radius: 1.2rem;
}

.writePost textarea{
    display: flex;
    width: 70%;
    background-color: transparent;
    align-self: center;
    height: 4rem;
    font-family: Inter;
    color: var(--darkBlue);
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

textarea:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.writePost textarea::placeholder{
    
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--darkBlue);
}

.writePost button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.3rem;
    height: 2rem;
    width: 5rem;
    border: none;
    background-color: var(--darkBlue2);
    color: var(--white);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.2rem;
    border-radius: 2.25rem;
}

.posts__list{
    width: 90%;
    margin: 0 auto;
}

.posts__list__post{
    background-color: var(--white);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.posts__list .posts__list__post div div img{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.posts__list__post .posts__list__post__textDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
    
}

.posts__list__post .posts__list__post__textDiv h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #030000;
}
.posts__list__post .posts__list__post__textDiv p{
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    margin-left: 0.8rem;
    margin-right: 0.3rem;
    color: var(--darkBlue);
}
.posts__list__post__data{
    color: var(--darkBlue);
    margin: 1.5rem 0;
}




